:root {
  --color-shade-1: #d0d7dd;
  --brand-color: #1b7f36;
  --headline1-font-size: 24px;
  --headline1-font-weight: 300;
  --headline1-margin: 10px 40px;
  --border-radius: 6px;
  --font-size: 14px;
  --item-height: 32px;
  --font-weight: 500;
  --link-color: #0969da;
  --divider-padding: 0 20px;
  --background-color: transparent;
}

hanko-auth {
  --container-max-width: 320px;
  --container-padding: 16px;
  --color: #0969da;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

hanko-profile {
  --container-max-width: 550px;
  --container-padding: 30px;
  --color: #1f2328;
}

hanko-auth::part(container),
hanko-profile::part(container) {
}

hanko-auth::part(headline1),
hanko-profile::part(headline1) {
  color: #1f2328;
}

hanko-auth::part(input),
hanko-profile::part(input) {
  background-color: #ffffff;
}

hanko-auth::part(secondary-button) {
  border: none;
  margin: 0 0 0 20px;
}

hanko-auth::part(divider-text) {
  color: #1f2328;
}
